*~
*.swp
*.pdf
*.jar
*.class
*.txt
lab/lab1/shakespeare/*
lab/lab1/output/*
lab/lab2/wiki/*
lab/lab2/output/*
lab/lab2/wiki-tmp/*
lab/lab2/wiki-num/*
lab/lab3/netflix/*
lab/lab3/netflix-tmp/*
lab/lab3/cluster/*
